[Unit]
Description=Taiga server
After=syslog.target
After=network.target

[Service]
Type=forking
User=taiga
Group=taiga
ExecStart=/bin/circusd --daemon /home/taiga/circus.ini
ExecReload=/bin/circusctl reload
ExecStop=/bin/circusctl stop

[Install]
WantedBy=multi-user.target
